* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: unset;

  &:hover {
    text-decoration: none;
    color: unset;
  }
}

footer{
  background-color: $bgColor-primary;
  color: $textTitle-secondary;
  padding-top: 15vh;
  padding-bottom: 1rem;
  width: 100%;
  @include pad{
    padding-top: 10vh;
  }
  p{
      margin-bottom: 0;
      font-size: 1.2rem;
      @include pad{
        font-size: 3vw;
      }
  }
}