* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

footer {
  background-color: #03444A;
  color: #ff8f4b;
  padding-top: 15vh;
  padding-bottom: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  footer {
    padding-top: 10vh;
  }
}

footer p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  footer p {
    font-size: 3vw;
  }
}

.nav_icon {
  position: fixed;
  left: 0;
  top: 5vh;
  padding: 0 5vw;
  width: 100%;
  z-index: 20;
}

.nav_icon .ham {
  width: 50px;
  height: 50px;
  background-image: url("../img/00_nav/01_hamBtn.png");
  background-size: cover;
  padding: 10px;
}

@media (max-width: 992px) {
  .nav_icon .ham {
    width: 32px;
    height: 32px;
  }
}

.nav_icon .ham:hover {
  cursor: pointer;
}

.nav_icon .ham.active {
  background-image: url("../img/00_nav/01_close.png");
}

.nav_icon .nav_logo_img {
  height: 50px;
}

@media (max-width: 992px) {
  .nav_icon .nav_logo_img {
    height: 32px;
  }
}

.nav_list {
  width: 100%;
  height: 100vh;
  background-image: url("../img/00_nav/03_nav_bg.jpg");
  background-size: cover;
  display: none;
  position: fixed;
  z-index: 10;
  color: #e8b55b;
  font-family: 'Merriweather', serif;
}

.nav_list.active {
  display: block;
}

.nav_list .container {
  padding-top: 15vh;
  padding-bottom: 20vh;
  height: 100%;
}

@media (max-width: 992px) {
  .nav_list .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (max-width: 768px) {
  .nav_list .container {
    padding-left: 2vw;
    padding-right: 5vw;
  }
}

.nav_list .container .row {
  height: 100%;
}

.nav_list .list .list_text {
  list-style: none;
  text-shadow: 3px 0 #000;
}

.nav_list .list .list_text a {
  font-size: 3rem;
  display: none;
}

@media (max-width: 576px) {
  .nav_list .list .list_text a {
    font-size: 2rem;
  }
}

.nav_list .list .list_text span {
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 576px) {
  .nav_list .list .list_text span {
    font-size: 2.5rem;
  }
}

.nav_list .list .list_text li:hover > a {
  display: block;
}

.nav_list .list .list_text li:hover > span {
  display: none;
}

.nav_list .information .nav_img {
  width: 16vw;
}

@media (max-width: 992px) {
  .nav_list .information .info_content {
    padding-left: 40px;
  }
}

.nav_list .information .info_content .info_text {
  font-size: 2rem;
  line-height: 4rem;
}

@media (max-width: 768px) {
  .nav_list .information .info_content .info_text {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .nav_list .information .info_content .info_text {
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .nav_list .information .info_content .info_text {
    font-size: 1rem;
  }
}

.nav_list .information .info_content .info_icon {
  width: 200px;
}

@media (max-width: 992px) {
  .nav_list .information .info_content .info_icon {
    width: 150px;
  }
}

.nav_list .information .info_content .info_icon img {
  height: 50px;
}

@media (max-width: 992px) {
  .nav_list .information .info_content .info_icon img {
    height: 36px;
  }
}
/*# sourceMappingURL=about_nav.css.map */