* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

footer {
  background-color: #03444A;
  color: #ff8f4b;
  margin-top: 1px;
}

footer p {
  margin-bottom: 0;
}

.nav_icon {
  position: fixed;
  left: 0;
  top: 5vh;
  padding: 0 5vw;
  width: 100%;
  z-index: 20;
}

.nav_icon .ham {
  width: 50px;
  height: 50px;
  background-image: url("../img/00_nav/01_hamBtn.png");
  background-size: cover;
  padding: 10px;
}

.nav_icon .ham:hover {
  cursor: pointer;
}

.nav_icon .ham.active {
  background-image: url("../img/00_nav/01_close.png");
}

.nav_list {
  width: 100%;
  height: 100vh;
  background-image: url("../img/00_nav/03_nav_bg.png");
  background-size: cover;
  display: none;
  position: fixed;
  z-index: 10;
  color: #e8b55b;
  font-family: 'Merriweather', serif;
}

.nav_list.active {
  display: block;
}

.nav_list .container {
  padding-top: 15vh;
  padding-bottom: 22.5vh;
  height: 100%;
}

.nav_list .container .row {
  height: 100%;
}

.nav_list .list .list_text {
  list-style: none;
  text-shadow: 3px 0 #000;
}

.nav_list .list .list_text a {
  font-size: 50px;
  display: none;
}

.nav_list .list .list_text span {
  font-size: 65px;
  font-style: italic;
  font-weight: 700;
}

.nav_list .list .list_text li:hover > a {
  display: block;
}

.nav_list .list .list_text li:hover > span {
  display: none;
}

.nav_list .information .nav_img {
  width: 16vw;
}

.nav_list .information .info_text {
  font-size: 36px;
}

.nav_list .information .info_icon {
  width: 10vw;
}

.nav_list .information .info_icon img {
  height: 50px;
}

.inlineBox {
  display: inline-block;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mx-lg-6 {
  margin: 0 10rem;
}

@media (max-width: 992px) {
  .mx-lg-6 {
    margin: -1rem;
  }
}

.px-6 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.btn-primary {
  background-color: #6E5148;
  border: 1px solid #6E5148;
}

.btn-primary:hover {
  background-color: #14A09F;
  border: 1px solid #14A09F;
}

header {
  background-image: url("../img/03_menu/01_header.jpg");
  padding: 20% 0;
  background-size: cover;
}

header .header_text {
  display: inline;
  background-color: rgba(11, 64, 67, 0.9);
  color: #fff;
  font-size: 1.5rem;
  padding: 20px 20px;
}

@media (max-width: 768px) {
  header .header_text {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  header .header_text {
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  header .header_text {
    font-size: 0.9rem;
  }
}

.menu_list .menu_list_title {
  color: #BC4F07;
}

.menu_list .menu_list_subtitle {
  color: #14A09F;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 2px solid #14A09F;
  padding: 0 20px;
  position: relative;
}

.menu_list .menu_list_subtitle img {
  width: 100px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  position: absolute;
}

.menu_list .menu_list_subtitle .menu_list_img1 {
  bottom: -10px;
}

.menu_list .menu_list_subtitle .menu_list_img2 {
  bottom: -20px;
}

.menu_list .menu_list_subtitle .subtitle_text {
  padding-left: 120px;
}

.menu_list .menu_list_content {
  height: auto;
  color: #6E5148;
}

.menu_list .menu_list_content .menu_list_subsubtitle {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 2px solid #6E5148;
}

.menu_list .menu_list_content .menu_list_subsubtitle p {
  margin-bottom: 0;
}

.menu_list .menu_list_content .content_items {
  font-size: 1.1rem;
}

.menu_list .menu_list_content .content_items a {
  color: #6E5148;
}

.menu_list .menu_list_content .content_items a:hover {
  color: #42322d;
  text-decoration: none;
  cursor: pointer;
}

.menu_list .menu_list_content .content_items .content_item {
  font-weight: bold;
}

.menu_list .menu_list_content .content_items .content_detail {
  margin-left: 6rem;
}

.menu_list .menu_list_content .content_items .content_detail2 {
  margin-left: 1rem;
}

.menu_list .menu_list_content .content_items p {
  margin-bottom: 5px;
}

.swiper-container {
  background-color: #03444A;
  padding-top: 100px;
  width: 100%;
  height: auto;
}

.swiper-container .swiper-wrapper {
  height: auto;
}

.swiper-container .swiper-wrapper .swiper-slide {
  height: auto;
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
}

.swiper-container .swiper-wrapper .swiper-slide img {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.3;
  -webkit-box-shadow: 10px 8px 10px #292828;
          box-shadow: 10px 8px 10px #292828;
}

.swiper-container .swiper-wrapper .swiper-slide .swiper-text {
  color: #888888;
  font-size: 60px;
  background-color: #03444A;
  margin-bottom: 0;
  width: 100%;
  text-shadow: 5px 4px #000;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 992px) {
  .swiper-container .swiper-wrapper .swiper-slide .swiper-text {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .swiper-container .swiper-wrapper .swiper-slide .swiper-text {
    font-size: 24px !important;
  }
}

.swiper-container .swiper-wrapper .swiper-slide-active .swiper-text {
  color: #E8B55B;
}

.swiper-container .swiper-wrapper .swiper-slide-active img {
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
}

.swiper-pagination {
  left: 76.5% !important;
  top: 33%;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 16vh;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #000;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 1px solid #E8B55B;
}

.swiper-index {
  color: #E8B55B;
  height: 80px;
  position: absolute;
  top: 45%;
  left: 20.5%;
  z-index: 10;
}

.swiper-index .swiper-index-text1 {
  vertical-align: super;
  font-size: 50px;
  padding-top: 0;
}

.swiper-index .swiper-index-text2 {
  font-size: 60px;
  padding-top: 30px;
}

.swiper-index .swiper-index-text3 {
  font-size: 20px;
  padding-top: 30px;
}

.swiper-index .swiper-index-box1 {
  height: 80;
  position: absolute;
  bottom: -10px;
}

@media (max-width: 1440px) {
  .swiper-pagination {
    left: 77% !important;
  }
  .swiper-index {
    left: 19%;
  }
}

@media (max-width: 1140px) {
  .swiper-pagination {
    left: 77.5% !important;
  }
  .swiper-index {
    left: 18%;
  }
}

@media (max-width: 960px) {
  .swiper-pagination {
    left: 78% !important;
  }
  .swiper-index {
    left: 16%;
  }
}

@media (max-width: 800px) {
  .swiper-pagination {
    left: 79% !important;
  }
  .swiper-index {
    left: 14%;
  }
}

@media (max-width: 768px) {
  .swiper-pagination {
    top: 20px;
    left: 42% !important;
  }
  .swiper-pagination-bullets {
    display: block;
  }
  .swiper-index {
    display: none;
  }
  .swiper-text {
    font-size: 30px !important;
    bottom: -20% !important;
    color: darkcyan;
  }
}
/*# sourceMappingURL=menu.css.map */