* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

footer {
  background-color: #03444A;
  color: #ff8f4b;
  padding-top: 8vh;
  padding-bottom: 1rem;
  width: 100%;
}

footer p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  footer p {
    font-size: 3vw;
  }
}

.nav_icon {
  position: fixed;
  left: 0;
  top: 5vh;
  padding: 0 5vw;
  width: 100%;
  z-index: 20;
}

.nav_icon .ham {
  width: 50px;
  height: 50px;
  background-image: url("../img/00_nav/01_hamBtn.png");
  background-size: cover;
  padding: 10px;
}

@media (max-width: 992px) {
  .nav_icon .ham {
    width: 32px;
    height: 32px;
  }
}

.nav_icon .ham:hover {
  cursor: pointer;
}

.nav_icon .ham.active {
  background-image: url("../img/00_nav/01_close.png");
}

.nav_icon .nav_logo_img {
  height: 50px;
}

@media (max-width: 992px) {
  .nav_icon .nav_logo_img {
    height: 32px;
  }
}

.nav_list {
  width: 100%;
  height: 100vh;
  background-image: url("../img/00_nav/03_nav_bg.jpg");
  background-size: cover;
  display: none;
  position: fixed;
  z-index: 10;
  color: #e8b55b;
  font-family: 'Merriweather', serif;
}

.nav_list.active {
  display: block;
}

.nav_list .container {
  padding-top: 15vh;
  padding-bottom: 20vh;
  height: 100%;
}

@media (max-width: 992px) {
  .nav_list .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (max-width: 768px) {
  .nav_list .container {
    padding-left: 2vw;
    padding-right: 5vw;
  }
}

.nav_list .container .row {
  height: 100%;
}

.nav_list .list .list_text {
  list-style: none;
  text-shadow: 3px 0 #000;
}

.nav_list .list .list_text a {
  font-size: 3rem;
  display: none;
}

@media (max-width: 576px) {
  .nav_list .list .list_text a {
    font-size: 2rem;
  }
}

.nav_list .list .list_text span {
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 576px) {
  .nav_list .list .list_text span {
    font-size: 2.5rem;
  }
}

.nav_list .list .list_text li:hover > a {
  display: block;
}

.nav_list .list .list_text li:hover > span {
  display: none;
}

.nav_list .information .nav_img {
  width: 16vw;
}

@media (max-width: 992px) {
  .nav_list .information .info_content {
    padding-left: 40px;
  }
}

.nav_list .information .info_content .info_text {
  font-size: 2rem;
  line-height: 4rem;
}

@media (max-width: 768px) {
  .nav_list .information .info_content .info_text {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .nav_list .information .info_content .info_text {
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .nav_list .information .info_content .info_text {
    font-size: 1rem;
  }
}

.nav_list .information .info_content .info_icon {
  width: 200px;
}

@media (max-width: 992px) {
  .nav_list .information .info_content .info_icon {
    width: 150px;
  }
}

.nav_list .information .info_content .info_icon img {
  height: 50px;
}

@media (max-width: 992px) {
  .nav_list .information .info_content .info_icon img {
    height: 36px;
  }
}

.position-r {
  position: relative;
}

h2 {
  color: #ff982b;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
}

.whatIsVegan {
  width: 100%;
  height: 100vh;
}

.whatIsVegan aside {
  width: 34.5%;
  height: 100%;
  background-color: #fff;
}

.whatIsVegan article {
  width: 65.5%;
  height: 100%;
  background-color: #03444A;
  background-image: url("../img/04_vegan/01_whatIs_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5vw 20vh;
}

.whatIsVegan .customContainer {
  width: 46vw;
  height: 100vh;
  margin: 0 27vw 0 27vw;
  position: absolute;
}

.whatIsVegan .customContainer .upperbox {
  width: 20vw;
}

.whatIsVegan .customContainer .upperbox .mainImg {
  -webkit-box-shadow: 5px 4px 5px #000;
          box-shadow: 5px 4px 5px #000;
}

.whatIsVegan .customContainer article {
  color: #fff;
  width: 25vw;
}

.whatIsVegan .customContainer ul {
  list-style: none;
  color: #fff;
  width: 25vw;
  padding-bottom: 3rem;
  line-height: 2rem;
}

.whatIsVegan .customContainer ul li {
  margin-bottom: 1rem;
}

.goVegan {
  background-color: #03444A;
  width: 100%;
  height: 50vh;
}

.goVegan .customContainer {
  width: 46vw;
  height: 100%;
  margin: 0 27vw 0 27vw;
}

.goVegan .customContainer .upperbox {
  width: 25vw;
}

.goVegan .customContainer .upperbox .goVegan_img {
  width: 25vw;
  position: absolute;
  bottom: -150px;
}

.goVegan .customContainer article {
  color: #fff;
  width: 20rem;
}

.goVegan .customContainer article .title {
  font-size: 20px;
}

.content {
  line-height: 2rem;
}

.blank {
  width: 100%;
  height: 40vh;
}

.letLive {
  background-color: #03444A;
  width: 100vw;
  height: 43vh;
}

.letLive .customContainer {
  width: 46vw;
  margin: 0 27vw 0 27vw;
}

.letLive .customContainer img {
  width: 22.5vw;
  position: absolute;
  left: 50%;
  top: -45%;
}

.letLive .customContainer article {
  color: #fff;
  width: 14rem;
}

.letLive .customContainer article .title {
  font-size: 20px;
  color: #03444A;
  position: absolute;
  top: -16%;
  font-weight: bold;
}

.letLive .customContainer article p {
  margin-bottom: 0;
  width: 100%;
}

.rwd_background {
  width: 100%;
  color: #eee;
}

.rwd_background .firstLayer {
  height: 120vh;
  width: 100%;
  background-color: #03444A;
}

@media (max-width: 768px) {
  .rwd_background .firstLayer {
    height: 90vh;
  }
}

@media (max-width: 320px) {
  .rwd_background .firstLayer {
    height: 40vh;
  }
}

.rwd_background .firstLayer .firstLayer_bg_top {
  background-color: #fff;
  width: 100%;
  height: 70%;
}

.rwd_background .firstLayer .firstLayer_bg_bottom {
  background-color: #03444A;
  width: 100%;
  height: 30%;
}

.rwd_background .firstLayer .mainImg {
  position: absolute;
  margin-top: 8rem;
  width: 70%;
  -webkit-box-shadow: 5px 4px 5px #000;
          box-shadow: 5px 4px 5px #000;
}

.rwd_background .secondLayer {
  width: 100%;
  background-color: #03444A;
}

.rwd_background .secondLayer ul {
  list-style: none;
}

.rwd_background .secondLayer ul li {
  margin-bottom: 1rem;
}

.rwd_background .thirdLayer {
  width: 100%;
  height: 80vh;
  background-color: #fff;
}

@media (max-width: 768px) {
  .rwd_background .thirdLayer {
    height: 60vh;
  }
}

@media (max-width: 320px) {
  .rwd_background .thirdLayer {
    height: 25vh;
  }
}

.rwd_background .thirdLayer .thirdLayer_bg_top {
  background-color: #03444A;
  width: 100%;
  height: 50%;
}

.rwd_background .thirdLayer .thirdLayer_bg_bottom {
  background-color: #fff;
  width: 100%;
  height: 50%;
}

.rwd_background .thirdLayer .goVegan_img_rwd {
  position: absolute;
  width: 90%;
  margin: auto;
  display: block;
}

.rwd_background .fourthLayer {
  background-color: #fff;
}

.rwd_background .fourthLayer .titleColor1 {
  color: #03444A;
}

.rwd_background .lastLayer {
  width: 100%;
  background-color: #03444A;
}

.rwd_background .lastLayer .piggy_img_rwd {
  width: 50%;
}

.rwd_background .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.rwd_background .title p {
  margin-bottom: 0;
}
/*# sourceMappingURL=vegan.css.map */