@import 'mixin';
@import 'var';
@import 'shared';
@import 'ham';

.position-r{
    position: relative;
}
h2{
    color:#ff982b;
    font-family: 'Merriweather', serif; 
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}

.whatIsVegan{
    width: 100%;
    height: 100vh;
    aside{
        width: 38.2%;
        height: 100%;
        background-color: #fff;
    }
    article{
        width: 61.8%;
        height: 100%;
        background-color: $bgColor-primary ;

        background-image: url('../img/04_vegan/01_whatIs_bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 5vw 20vh;  
    }
    .customContainer{
        width: 50vw;
        height: 100vh;
        margin: 0 21vw 0 29vw;
        position: absolute;
        // border: 1px solid black;
        .upperbox{
            width: 20vw;
            .mainImg{
                box-shadow: 5px 4px 5px #000;
            }
        }
        article{
            color: #fff;
            width: 25vw;
        }
        ul{
            list-style: none;
            color: #fff;
            width: 25vw;
            padding-bottom: 3rem;
            line-height: 2rem;
            li{
                margin-bottom: 1rem;
            }
        } 
    }
}

.goVegan{
    background-color: $bgColor-primary;
    width: 100%;
    height: 50vh;
    .customContainer{
        width: 50vw;
        height: 100%;
        margin: 0 21vw 0 29vw;
        .upperbox{
            width: 25vw;
            .goVegan_img{
                width: 25vw;
                position: absolute;
                bottom: -150px;
            }
        }
        article{
            color: #fff;
            width: 14vw;
            .title{
                font-size: 20px;
            }
        }
    }
}

.blank{
    width: 100%;
    height: 40vh;
}

.letLive{
    background-color: $bgColor-primary;
    width: 100vw;
    height: 30vh;
    .customContainer{
        width: 50vw;
        margin: 0 21vw 0 29vw;
        position: absolute;
        // border: 1px solid black;
        img{
            width: 15vw;
            position: absolute;
            left: 45%;
            top: -80%;
        }
        article{
            color: #fff;
            width: 14vw;
            .title{
                font-size: 20px;
                color: $bgColor-primary;
                position: absolute;
                top: -35%;
                font-weight: bold;
            }
            p{
                margin-bottom: 0;
            }
        }
    }
}

.rwd_background{
    width: 100%;
    .firstLayer{
        width: 100%;
        height: 50vh;
        background-color: #fff;
        @media (max-width:320px) {
            height: 30vh;
        }
    }
    .secondLayer{
        width: 100%;
        height: 135vh;
        background-color:$bgColor-primary;
    }
    .thirdLayer{
        width: 100%;
        height: 39vh;
        background-color: #fff;
        @media (max-width:320px) {
            height: 25vh;
        }
    }
    .lastLayer{
        width: 100%;
        width: 100%;
        height: 80vh;
        background-color:$bgColor-primary ;
        @media (max-width:320px) {
            height: 50vh;
        }
    }
}

.rwd_main{
    position: absolute;
    top: 15vh;
    color: #eee;
    .mainImg{
        width: 70%;
        box-shadow: 5px 4px 5px #000;
    }
    ul{
        list-style: none;
        li{
            margin-bottom: 1rem;
        }
    }
    .goVegan_img_rwd{
        width: 90%;
    }
    .title{
        font-size: 1.25rem;
        font-weight: bold;
        p{
            margin-bottom: 0;
        }
    }
    .titleColor1{
        color: $bgColor-primary;
    }
    .piggy_img_rwd{
        width: 70%;
    }
}